<% content_for :title do %>About<% end %>
<h3>About the Website</h3>

<p>
This website has been modified to support Owen Parkins' thesis. 
If you would like to participate in a survey,
visit <%= link_to('survey.thesis.oparkins.com', 'http://survey.thesis.oparkins.com') %>
</p>

<p>If you would like to view the source code for this page, here it is on <%= link_to('github', 'https://github.com/oparkins/thesis-test-website') %>. The only thing that will change is the client secrets</p>

<p>
This web application was created with
<%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
</p>

